<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ currency }}</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
   <h2>Курс {{ currency }} на сегодня {{ today_day }}:</h2>
   <h1>{{ rate }} руб.</h1>
   <form action="/rate">
        <select name="currency" id="currency">
            <option value="">--Валюта по умолчанию Доллар США (из ENV Dockerfile) --</option>
            <option value="GBP">Фунт стерлингов</option>
            <option value="EUR">Евро</option>
            <option value="CNY">Китайский юань</option>
        </select>
        <button type="submit">Проверить</button>
        </br> 
        </br>  
        <h3>Логи:</h3>
        </br>
        <div>
            <table> 
                <thead> 
                  <tr> 
                    <th>Валюта</th> 
                    <th>Курс</th> 
                    <th>Дата и время обновления</th> 
                    <th>IP-адрес</th> 
                  </tr> 
                </thead> 
                <tbody> 
                    {% for row in logs %} 
                    <tr> 
                    <td>{{ row[0] }}</td> 
                    <td>{{ row[1] }}</td> 
                    <td>{{ row[2] }}</td> 
                    <td>{{ row[3] }}</td>
                    </tr> 
                    {% endfor %} 
                </tbody> 
            </table> 
        </div>
   </form>
</body>
</html>